.button {
    background-color: #38B44A;
	display: inline-block;
	height: 30px;
	width: 100%;
    border: none;
	border-radius:10px;
	color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
	cursor: pointer;
}

.delete_button{
	background-color: #f44336;
	background-color: var(--alert-colour);
	}

.bottom{
	position:absolute; bottom:0;
}

.disabledbutton {
	background-color: #dddddd;
	background-color: var(--toolbar-hover-colour);
}

.button:hover {
	background-color: #dddddd;
	background-color: var(--toolbar-hover-colour);
}



