.ColourPicker {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.ColourPicker-body {
    display: block;
    position: fixed;
    z-index: 11;
    /*width: 180px;*/
    min-width: 150px;
    max-width: 200px;
	background-color: #fefefe;
    background-color: var(--dialog-bg-colour);
    border: 1px solid #d3d3d3;
    box-shadow: 1px 1px 2px #888888;
    /*border-radius: 10px;*/
}

.ColourPicker-body:after,
.ColourPicker-body:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}


/* ARROW */

.ColourPicker-body:after {
    border-color: rgba(254, 254, 254, 0);
	border-bottom-color: #fefefe;
    border-bottom-color: var(--dialog-bg-colour);
    border-width: 10px;
    margin-left: -10px;
}

.ColourPicker-body:before {
    border-color: rgba(136, 136, 136, 0);
	border-bottom-color: #d3d3d3;
    border-bottom-color: var(--border-colour);
    border-width: 11px;
    margin-left: -11px;
}

.ColourPicker-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /*margin: 5px 0px 5px 0px;
    padding: 0;*/
}

.ColourPicker-list li {
    border-bottom: 0.25px solid #d3d3d3;
    padding: 10px;
	color: #000000;
    color: var(--text-colour);
	font-size: 12px;
    font-size: var(--small-text);
}

.ColourPicker-list li:first-child {
    /*  border-top-left-radius: 10px;
    border-top-right-radius: 10px;
*/
}

.ColourPicker-list li:last-child {
    border-bottom: 0px;
}

.ColourPicker-list li:hover {
	background:  #f7f7f7;
    background:  var(--dialog-hover-colour);
    /*font-weight: bold;
    background: linear-gradient(var(--bg-colour), var(--hover-colour), var(--bg-colour));*/
}

.ColourPicker-table {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}
