
.context-menu  {
    display: none;
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    overflow-x: hidden;
    transition: 0.5s;
}

.context-menuq {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__link {
  display: block;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.context-menu__link:hover {
  color: #fff;
  background-color: #0066aa;
}
