:root {
    /*
	This section holds the variables for the design of the css. 
	variables can be recalled using var(--var-name);
	*/
    --mainbg-color: #06c;
    --accent-color: #F78F3F;
    --border-colour: #d3d3d3;
    --shadow-colour: #888888;
    --active-colour: #38B44A;
    --alert-colour: #f44336;
    --passive-colour: #008CBA;
    --inactive-colour: #8a8a8a;
    /* toolbar */
    --toolbar-hover-colour: #dddddd;
    /* dialog / popover */
    --dialog-header-colour: #38B44A;
    --dialog-bg-colour: #fefefe;
    --dialog-hover-colour: #f7f7f7;
    /* List  */
    --list-bg-colour:#B3B3B3;
    /* Text */
    --titletext-colour: #ffffff;
    --text-colour: #000000;
	--text-contrast-color: #ffffff;
    /* Text Size */
    --xs-text: 10px;
    --small-text: 12px;
    --medium-text: 16px;
    --large-text: 22px;
    --xl-text: 30px;
    /* Layout */
    --margin-size: 5px;
    --padding: 10px;
	--border-radius: 5px;
}


/* Fonts */

h1 {
    font-size: 30px;
	font-size: var(--xl-text);
    font-family: Tahoma, Verdana;
}

h2 {
	font-size: 22px;
    font-size: var(--large-text);
    font-family: Tahoma, Verdana;
}

h3 {
	font-size: 16px;
    font-size: var(--medium-text);
    font-family: Tahoma, Verdana;
}

h4 {
	font-size: 12px;
    font-size: var(--small-text);
    font-family: Tahoma, Verdana;
}

p {
	font-size: 12px;
    font-size: var(--small-text);
    font-family: Tahoma, Verdana;
}

html,
body {
    background: #fff;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden
}

canvas {
    position: absolute;
}

canvasbottom {
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    /*text-align: center;
    margin: 0;
    padding: 0.5em 5em;
    background: rgba(240, 240, 240, 0.7)
    */
}

#head {
    top: 0;
    border-bottom: 1px solid #999;
}

#foot {
    bottom: 0;
    font-size: 85%;
    border-top: 1px solid #999;
    overflow: hidden;
}

#cmdLine {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

#coordLabel {
    margin-left: 10px;
    margin-right: 10px;
    min-width: 100px;
}

.toolbar {
    position: absolute;
    height: 50px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #f0f0f0;
    box-shadow: 0px 2px 2px #888888;
    padding: 0px;
    margin: 0px;
}

.designicon,
.tool {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    border: none;
    background-color: Transparent;
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 0px;
    float: left;
}

.tool img {
    max-height: 25px;
	max-width: 25px;
}

.designicon img {
    height: 100%;	
}

.toolbar button:hover {
	background-color: #dddddd;
    background-color: var(--toolbar-hover-colour);
}

.active {
    background-color: #4CAF50;
}

.separator {
    content: '';
    display: inline-block;
    background: #888;
    margin: 0px 4px;
    height: 100%;
    width: 1px;
    vertical-align: middle;
    float: left;
}


/*Standard components used in the design ui*/

.Design-header {
    /*padding: 2px 16px;*/
	background-color: #38B44A;
    background-color: var(--dialog-header-colour);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.Design-header-title {
    flex: 1;
    /*margin-left: 10px;*/
    margin-right: 20px;
    min-width: 10px;
}

.Design-header-title h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: fade;
	margin-left: 10px;
}

.Design-header-icon {
    margin-left: 10px;
    margin-right: 10px;
}

.Design-header-icon img {
    max-height: 15px;
	max-width: 15px;

}

.Design-header-icon:hover {
    /*background-color: var(--hover-colour);*/
    opacity: 0.5;
}

.Design-shape {
    height: 30px;
    width: 30px;
    border: 1px solid #d3d3d3;
    border-radius: 100%;
}

.Design-shape:hover {
    height: 28px;
    width: 28px;
    border: 2px solid #d3d3d3;
}

.tick {
    height: 10px;
    width: 4px;
    border: solid #FFFFFF;
    border-width: 0px 3px 3px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
    display: block;
    margin-top: 7px;
    margin-left: 11.5px;
}

.Design-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    background-size: cover;
    overflow: hidden;
    transition: 0.5s;
}

.Design-sidebar-content {
    position: relative;
	background-color: #fefefe;
    background-color: var(--dialog-bg-colour);
    margin: 0;
    padding: 0;
    border: 1px solid var(--border-colour);
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.Design-sidebar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.Design-sidebar-listitem {
    height: 50px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    /*flex-start;*/
    align-items: center;
    /*border-bottom: 0.25px solid var(--border-colour);*/
    padding-left: 10px;
    padding-right: 10px;
}

.Design-sidebar-listitem:p {
    font-size: var(--medium-text);
    
}

.Design-sidebar-listitem-child {
}

.Design-sidebar-listitem-child:p {
    font-size: var(--medium-text);
}

.Design-sidebar-listitem:hover {
    background: #f7f7f7;
	background: var(--dialog-hover-colour);
}


/* Place holder for use when lists are unpopulated i.e. "Nothing Selected"*/

.Design-placeholder-text {
    position: relative;
    float: left;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
	background-color: #888888;
    background-color: var(--shadow-colour);
    border: 1px solid #d3d3d3;
	border-radius: 10px; /*var(border-radius);*/
    color: #ffffff;
	color: var(--text-contrast-color);
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -60px;
	opacity: 0;
    -webkit-transition-property: opacity; /* Safari */
    -webkit-transition-duration: 0.5s; /* Safari */
    -webkit-transition-delay: 1s; /* Safari */
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-delay: 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
	border-color: transparent transparent #888888 transparent;
    border-color: transparent transparent var(--shadow-colour) transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
	opacity: 1;
}

.row {
    display: flex;
	justify-content: space-between;
    /*flex-start;*/
    align-items: center;
}

.column {
    flex: 50%;
}