.layerManagerListItemDetails {
	display: none;
	/*border-top: 1px solid var(--border-colour);
    border-bottom: 1px solid var(--border-colour);
	background-color: #f2f2f2;
    transition: height 0.5s;
    */
	height: 0px;
	
}

.layerManagerLayerName {
    background-color: transparent;
	flex: 1;
	margin-left: 10px;
	margin-right: 20px;
	min-width: 10px;
    outline: none;
    border: 0px;
    padding: 5px;
}

.layerManagerLayerName  p {
    white-space: nowrap;
    overflow: hidden;
	text-overflow: fade;
  }

.LayerManagerLayerToggle {
	margin-right:10px;
}
