.LayerManager {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    background-size: cover;
    overflow: hidden;
    transition: 0.5s;
}

.LayerManager-content {
    position: relative;
    background-color: var(--bg-colour);
    margin: 0;
    padding: 0;
    border: 1px solid var(--border-colour);
    width: 100%;
	height: 100%;
    overflow-y:auto;
    overflow-x: hidden;
}

.LayerManagerList {
	list-style-type:none;
	padding-left:0;
	width: 100%;

}

.LayerManagerListItem {
	height: 50px;
    display: -webkit-flex;
    display: flex;
	justify-content: flex-start;
	align-items: center;
    /*border-bottom: 0.25px solid var(--border-colour);*/
}

.layerManagerListItemDetails {
	display: none;
	/*border-top: 1px solid var(--border-colour);
    border-bottom: 1px solid var(--border-colour);
	background-color: #f2f2f2;
    transition: height 0.5s;
    */
	height: 0px;
	
}

.layerManagerLayerName {
	flex: 1;
	margin-left: 10px;
	margin-right: 20px;
	min-width: 10px;
}

.layerManagerLayerName  p {
    white-space: nowrap;
    overflow: hidden;
	text-overflow: fade;
  }

.LayerManagerLayerToggle {
	margin-right:10px;
}
