/* Style the tab */
.tab {
    overflow: hidden;
    border-bottom: 1px solid var(--border-colour);
    background-color: var(--dialog-bg-colour);
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: var(--dialog-bg-colour);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--dialog-hover-colour);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color:  var(--dialog-hover-colour);
	font-weight: bold;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
   /*  border: 1px solid #ccc; */
    border-top: none;
}