  .headerbar {
      background-color: var(--header-colour);
      color: var(--text-colour);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      position: relative;
      width: 100%;
      height: 46px;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
      z-index: 3;
  }

  .headerbar-title {
      position: absolute;
      font-size: var(--medium-text);
      font-weight: 600;
      letter-spacing: 0.01em;
      color: var(--text-colour);
  }

  .headerbar-menu {
      position: absolute;
      right: 0px;
  }