  .headerbar {
      background-color: var(--header-colour);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      position: relative;
      width: calc(100% - var(--sidepanel-offset, 0px));
      height: 40px;
      transition: width 0.3s ease;
  }

  .headerbar-title {
      position: absolute;
  }

  .headerbar-menu {
      position: absolute;
      right: 0px;
  }