.popover {
  position: fixed;
  width: 200px;
  right: 8px;
  top: 55px;
  background-color: var(--card-bg);
  border: 1px solid var(--border-colour);
  z-index: 10;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 14px 48px rgba(0, 0, 0, 0.5);
  padding: 6px 0;
  overflow: hidden;
}

.popover-arrow {
  position: absolute;
  top: -5px;
  right: 16px;
  width: 10px;
  height: 10px;
  background-color: var(--card-bg);
  border-left: 1px solid var(--border-colour);
  border-top: 1px solid var(--border-colour);
  transform: rotate(45deg);
}