.properties-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--inactive-colour);
    font-size: var(--small-text);
}

.properties-list {
    flex: 1;
    overflow-y: auto;
    padding: 4px 12px;
}