.toolbarbutton {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    border: none;
    background-color: Transparent;
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 0px;
    float: left;
}

.toolbarbutton img {
    height: 20px;
	width: 20px;
}

.toolbarbutton:hover {
    background-color: var(--toolbar-hover-colour);
}

.toolbarbutton:hover .tooltip{
    visibility: visible;
}

.toolbarbutton .tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    /*padding: 5px 0;*/
    border-radius: var(--border-radius);

    position: absolute; 
    /*
    position: relative;
    display: inline-block;
    */
    z-index: 1;

    width: 100px;
    /*top: 100%;
    left: 50%;
    
    margin-left: -60px;
    
    top: 40px;
    left: 0px;
    */
}